<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harshank.klick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.harshank.klick.Splashscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Individual_signup"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base"/>
        <activity
            android:name=".Merchant_signup"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base"/>
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base"/>

    </application>

</manifest>